<!-- Importer le header en EJS -->
<%- include('../statics/header') -%>

<main>
    <section id="createQuizz">
            <h1>Nouveau quizz : <%- data.data[0].title %></h1>
            <h2>Question <span>1</span></h2>

            <form action="" name="formQuizz">
                    <ul class="questionType">
                            <li>
                                    <input type="radio" id="text" name="typeQuestion" value="1" checked='checked'/>
                                    <label for="text">Texte</label>
                                </li>
                            <li>
                                <input type="radio" id="petitBac" name="typeQuestion" value="2"/>
                                <label for="petitBac">Petit Bac</label>
                            </li>
                        </ul>
                        <div class="questions">
                                <%- include('questions/text') -%>  
                                <%- include('questions/petitBac') -%>  
                        </div>
                        <button class="sendQuizz">Créer le quizz</button>
            </form>
    </section>
</main>
<script src="/scripts/admin/app.js"></script>

<!-- Importer le footer en EJS -->
<%- include('../statics/footer') -%>  