<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <section>
    <h3>Liste des quizzs</h3>
    <% if( data.data ) { %>
         <% for(let item of data.data) { %>
                <h4><%- item.title %></h4>
                <h4><%- item.theme %></h4>
                <h4>Nombre de questions : <%- item.questions.length %></h4>
                <a href="/quizz/<%- item._id %>">Voir plus</a>
        <% } %> 
    <% } %>
</section>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>  