<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
    <section id="sectionIndex">
        <div>
    <h3>Liste des derniers quizzs</h3>
    <div class="quizz-liste">
    <% if( data.data ) { %>
         <% for(let item of data.data) { %>
            <div class="quizz-liste-container">
                <div class="content">
                    <p><span><%- item.title %></span><span><%- item.questions.length %> questions</span></p>
                    <p>Thème : <%- item.theme %></p>
                </div>
                <div class="action-button">
                        <a href="/quizz/<%- item._id %>"><button><img src="assets/icons/play.svg" alt="Bouton permettant de lancer le quizz"></button></a>
                </div>
            </div>
        <% } %> 
    <% } %>
</div>
</div>
<div>
        <h3>Derniers résultats</h3>
        <div class="quizz-resultats">
            <p>Pas de résultats pour le moment</p>
        </div>
</div>
</section>
</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>  