<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
	<section id="accueilQuizz">
			<p>
					<%- data.data.quizz.title %>
				</p><br>
			
			
				<p>
					<%- data.data.quizz.theme %>
				</p>
			
				<button>Start Quizz</button>
			
				<p>
						<%- data.data.user.givenName %>
				</p>
	</section>
	<section id="gameQuizz" class="hidden">
		<p>Ca joue</p>
	</section>

</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
