<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
	<section id="accueilQuizz" class="quizz">
		<h1><%- data.data.quizz.title %></h1>
		<h2>Thème : <%- data.data.quizz.theme %></h2>
		<div class="listPlayers">
			<h2>Joueurs : </h2>
		</div>
		<button class="start">Start Quizz</button>
		<p id="name" class="hidden"><%- data.data.user.givenName %></p>
	</section>
	<section id="gameQuizz" class="quizz hidden">
		<p id="timer"></p>
		<h1><%- data.data.quizz.title %></h1>
		<h2>Question <span></span> / <%- data.data.quizz.questions.length %></h2>
		<div class="text hidden">
			<h3></h3>
			<input type="text">
		</div>
		<div class="petitBac hidden">
			<h3></h3>
			<label for="theme1"></label>
			<input type="text" id="theme1">
			<label for="theme2"></label>
			<input type="text" id="theme2">
			<label for="theme3"></label>
			<input type="text" id="theme3">
			<label for="theme4"></label>
			<input type="text" id="theme4">
			<label for="theme5"></label>
			<input type="text" id="theme5">
		</div>
	</section>

	<section id="reponseQuizz" class="quizz hidden">
		<h1><%- data.data.quizz.title %></h1>
		<div class="beforeResult">
			<h2>Pignuiz terminé !</h2>
			<button>Résultats</button>
		</div>
		<div class="hidden result">
			<h3 class="n"></h3>
			<div class="text hidden container">
				<h3 class="q"></h3>
				<h4 class="r"></h4>
				<h3 class="rU"></h3>
			</div>
			<div class="petitBac hidden container">
				<h3 class="l"></h3>
				<label for="theme1Response"></label>
				<input type="text" id="theme1Response">
				<label for="theme2Response"></label>
				<input type="text" id="theme2Response">
				<label for="theme3Response"></label>
				<input type="text" id="theme3Response">
				<label for="theme4Response"></label>
				<input type="text" id="theme4Response">
				<label for="theme5Response"></label>
				<input type="text" id="theme5Response">
			</div>
			<div>
				<button class="false validateButton">Faux</button>
				<button class="next">Suivant</button>
			</div>
		</div>
	</section>

	<section id="scoreQuizz" class="quizz hidden">
		<h1>Scores</h1>
		<div class="listScore"></div>
	</section>
</main>
<script>
	const dataQuizz = `<%- JSON.stringify(data.data.quizz) %>`;
</script>
<script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
<script>
	const socket = io('http://localhost:3001', {
		transports: ['websocket', 'polling', 'flashsocket']
	});

	console.log(socket)


	socket.on('connect', function () {
		console.log("connected");
	});
</script>
<script src="/scripts/quizz/app.js">
	// bar chart data
</script>

<script src="/scripts/quizz/socketFunct.js"></script>
<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>