<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>

	<p>
		<%- data.data.quizz.title %>
	</p><br>


	<p>
		<%- data.data.quizz.theme %>
	</p>

	<p>
			<%- data.data.user.givenName %>
	</p>

</main>

<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
