<!-- Importer le header en EJS -->
<%- include('statics/header') -%>

<main>
	<section id="accueilQuizz">
			<p>
					<%- data.data.quizz.title %>
				</p><br>
			
			
				<p>
					<%- data.data.quizz.theme %>
				</p>
			
				<button>Start Quizz</button>
			
				<p>
						<%- data.data.user.givenName %>
				</p>
	</section>
	<section id="gameQuizz" class="hidden">
		<h1>Question <span></span> sur <%- data.data.quizz.questions.length %></h1>
		<p id="timer"></p>
		<div class="text hidden">
			<h2></h2>
			<input type="text">
		</div>
		<div class="petitBac hidden">
			<h2></h2>
			<label for="theme1"></label>
			<input type="text" id="theme1">
			<label for="theme2"></label>
			<input type="text" id="theme2">
			<label for="theme3"></label>
			<input type="text" id="theme3">
			<label for="theme4"></label>
			<input type="text" id="theme4">
			<label for="theme5"></label>
			<input type="text" id="theme5">
		</div>
	</section>

	<section id="reponseQuizz" class="hidden">
		<h1>reponse</h1>
	</section>

</main>
<script>
    const dataQuizz = '<%- JSON.stringify(data.data.quizz) %>';
</script>
<script src="/scripts/quizz/app.js">
// bar chart data

</script>
<!-- Importer le footer en EJS -->
<%- include('statics/footer') -%>
